.containerProductos {
    width: 90%;
    background-color: red;
    height: 700px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(245, 245, 245);
    margin-bottom: 15px;
}
.box2 {
    margin-left: 70px;
}

.containerCarrito {
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
    height: 25%;
    display: inline-flex;
    justify-content: end;
    align-items: center;
}
.containerImagen {
    width: 100%;
}
.imagenProducto {
    height: 173px;
    width: 20%;
}