.box {
    display: flex;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.imagenes {
    display: flex;
}
.imagen {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.precios {
    display: flex;
}
.precioConDescuento {
    font-weight: lighter;
    color: rgb(171, 171, 171);
    text-decoration-line: line-through;
}